@(implicit request: RequestHeader)
@import securesocial.core.SecureSocial

@main("Open al*arm Conf") {

<div>
	@if(SecureSocial.currentUser.isDefined){
	    Utente: @SecureSocial.currentUser.get.identityId.userId
	    <a class="btn" href="@securesocial.controllers.routes.LoginPage.logout()">Logout</a>
	  }else{
	    <a class="btn" href="@securesocial.controllers.routes.LoginPage.login()">Login</a>
	  }
</div>

<div class="page-header">
    <h2>Configurazioni</h2>
</div>


<div class="container" ng-controller="ConfController">
<!-- <div class="jumbotron" ng-controller="AlarmController"> -->
  <!-- <div class="container"> -->
    <!-- <div class="col-sm-12"> -->
        
        <tabset>
        	
        	<tab heading="Modulo">
        		<form novalidate class="simple-form">
       				<br />	
<!--	        		ID: <input type="text" ng-model="deviceConf.slaveId" /><br /> -->
	        		ID: {{deviceConf.slaveId}} <br />
					<br/>
					<table>
						<tr>
							<td>
	        					Stato:
							</td>
							<td width="10px">&nbsp;</td>
							<td>
								<input type="text" ng-model="deviceConf.status" />
							</td>
						</tr>
						<tr>
							<td>
								Posizione:
							</td>
							<td width="10px">&nbsp;</td>
							<td>
								<input type="text" ng-model="deviceConf.slaveLocation" />
							</td>
						</tr>
						<tr>
							<td>
								Descrizione:
							</td>
							<td width="10px">&nbsp;</td>
							<td>
								<input type="text" ng-model="deviceConf.slaveDescription" />
							</td>
						</tr>
						<tr>
							<td>
								Porta seriale/USB:
							</td>
							<td width="10px">&nbsp;</td>
							<td>
								<input type="text" ng-model="deviceConf.serialPort" />
							</td>
						</tr>
						<tr>
							<td>
								Indirizzo IP:
							</td>
							<td width="10px">&nbsp;</td>
							<td>
								<input type="text" ng-model="deviceConf.ipAddress" />
							</td>
						</tr>
						<tr>
							<td>
								Porta IP:
							</td>
							<td width="10px">&nbsp;</td>
							<td>
								<input type="text" ng-model="deviceConf.ipPort" />
							</td>
						</tr>
					</table>
	        		<br />
	        		<button ng-click="updateDeviceConf()">Salva</button>
        		</form>
       		</tab>
       		
       		<tab heading="Allarmi">
				<table>
					<tr>
						<td>
							<form novalidate class="simple-form">
								<br />
<!--								ID: <input type="text" ng-model="alarmConf1.slaveId" /><br />-->
								ID: {{alarmConf1.slaveId}} <br />
								<br/>
								Allarme 01: <span width="10px">&nbsp;</span> <input type="text" ng-model="alarmConf1.alarmDescription_01" /><br />
								Allarme 02: <span width="10px">&nbsp;</span> <input type="text" ng-model="alarmConf1.alarmDescription_02" /><br />
								Allarme 03: <span width="10px">&nbsp;</span> <input type="text" ng-model="alarmConf1.alarmDescription_03" /><br />
								Allarme 04: <span width="10px">&nbsp;</span> <input type="text" ng-model="alarmConf1.alarmDescription_04" /><br />
								Allarme 05: <span width="10px">&nbsp;</span> <input type="text" ng-model="alarmConf1.alarmDescription_05" /><br />
								Allarme 06: <span width="10px">&nbsp;</span> <input type="text" ng-model="alarmConf1.alarmDescription_06" /><br />
								Allarme 07: <span width="10px">&nbsp;</span> <input type="text" ng-model="alarmConf1.alarmDescription_07" /><br />
								Allarme 08: <span width="10px">&nbsp;</span> <input type="text" ng-model="alarmConf1.alarmDescription_08" /><br />
								Allarme 09: <span width="10px">&nbsp;</span> <input type="text" ng-model="alarmConf1.alarmDescription_09" /><br />
								Allarme 10: <span width="10px">&nbsp;</span> <input type="text" ng-model="alarmConf1.alarmDescription_10" /><br />
								Allarme 11: <span width="10px">&nbsp;</span> <input type="text" ng-model="alarmConf1.alarmDescription_11" /><br />
								Allarme 12: <span width="10px">&nbsp;</span> <input type="text" ng-model="alarmConf1.alarmDescription_12" /><br />
								Allarme 13: <span width="10px">&nbsp;</span> <input type="text" ng-model="alarmConf1.alarmDescription_13" /><br />
								Allarme 14: <span width="10px">&nbsp;</span> <input type="text" ng-model="alarmConf1.alarmDescription_14" /><br />
								Allarme 15: <span width="10px">&nbsp;</span> <input type="text" ng-model="alarmConf1.alarmDescription_15" /><br />
								<br />
								<button ng-click="updateAlarmConf1()">Salva</button>
							</form>
						</td>
						<td width="40px">&nbsp;</td>
						<td>
							<form novalidate class="simple-form">
								<br />
<!--								ID: <input type="text" ng-model="alarmConf2.slaveId" /><br />-->
								ID: {{alarmConf2.slaveId}} <br />
								<br/>
								Allarme 16: <span width="10px">&nbsp;</span> <input type="text" ng-model="alarmConf2.alarmDescription_16" /><br />
								Allarme 17: <span width="10px">&nbsp;</span> <input type="text" ng-model="alarmConf2.alarmDescription_17" /><br />
								Allarme 18: <span width="10px">&nbsp;</span> <input type="text" ng-model="alarmConf2.alarmDescription_18" /><br />
								Allarme 19: <span width="10px">&nbsp;</span> <input type="text" ng-model="alarmConf2.alarmDescription_19" /><br />
								Allarme 20: <span width="10px">&nbsp;</span> <input type="text" ng-model="alarmConf2.alarmDescription_20" /><br />
								Allarme 21: <span width="10px">&nbsp;</span> <input type="text" ng-model="alarmConf2.alarmDescription_21" /><br />
								Allarme 22: <span width="10px">&nbsp;</span> <input type="text" ng-model="alarmConf2.alarmDescription_22" /><br />
								Allarme 23: <span width="10px">&nbsp;</span> <input type="text" ng-model="alarmConf2.alarmDescription_23" /><br />
								Allarme 24: <span width="10px">&nbsp;</span> <input type="text" ng-model="alarmConf2.alarmDescription_24" /><br />
								Allarme 25: <span width="10px">&nbsp;</span> <input type="text" ng-model="alarmConf2.alarmDescription_25" /><br />
								Allarme 26: <span width="10px">&nbsp;</span> <input type="text" ng-model="alarmConf2.alarmDescription_26" /><br />
								Allarme 27: <span width="10px">&nbsp;</span> <input type="text" ng-model="alarmConf2.alarmDescription_27" /><br />
								Allarme 28: <span width="10px">&nbsp;</span> <input type="text" ng-model="alarmConf2.alarmDescription_28" /><br />
								Allarme 29: <span width="10px">&nbsp;</span> <input type="text" ng-model="alarmConf2.alarmDescription_29" /><br />
								Allarme 30: <span width="10px">&nbsp;</span> <input type="text" ng-model="alarmConf2.alarmDescription_30" /><br />
								<br />
								<button ng-click="updateAlarmConf2()">Salva</button>
							</form>
						</td>
					</tr>
				</table>
    		</tab>
    		
    		<tab heading="Contatti">
				<form novalidate class="simple-form">
					<br />
<!--					ID: <input type="text" ng-model="deviceEmail.slaveId" /><br />-->
					ID: {{deviceEmail.slaveId}} <br />
					<br/>
					<table width="50%">
						<tr width="50%">
							<td width="80px">
								Nome 1:
							</td>
							<td width="10px">&nbsp;</td>
							<td>
								<input type="text" ng-model="deviceEmail.name_1" />
							</td>
						</tr>
						<tr>
							<td width="80px">
								Telefono 1:
							</td>
							<td width="10px">&nbsp;</td>
							<td>
								<input type="text" ng-model="deviceEmail.phone_1" />
							</td>
						</tr>
						<tr>
							<td width="80px">
								Email 1:
							</td>
							<td width="10px">&nbsp;</td>
							<td>
								<input type="text" ng-model="deviceEmail.email_1" />
							</td>
						</tr>
						<tr><td width="10px">&nbsp;</td></tr>
						<tr>
							<td width="80px">
								Nome 2:
							</td>
							<td width="10px">&nbsp;</td>
							<td>
								<input type="text" ng-model="deviceEmail.name_2" />
							</td>
						</tr>
						<tr>
							<td width="80px">
								Telefono 2:
							</td>
							<td width="10px">&nbsp;</td>
							<td>
								<input type="text" ng-model="deviceEmail.phone_2" />
							</td>
						</tr>
						<tr>
							<td width="80px">
								Email 2:
							</td>
							<td width="10px">&nbsp;</td>
							<td>
								<input type="text" ng-model="deviceEmail.email_2" />
							</td>
						</tr>
						<tr><td width="10px">&nbsp;</td></tr>
						<tr>
							<td width="80px">
								Nome 3:
							</td>
							<td width="10px">&nbsp;</td>
							<td>
								<input type="text" ng-model="deviceEmail.name_3" />
							</td>
						</tr>
						<tr>
							<td width="80px">
								Telefono 3:
							</td>
							<td width="10px">&nbsp;</td>
							<td>
								<input type="text" ng-model="deviceEmail.phone_3" />
							</td>
						</tr>
						<tr>
							<td width="80px">
								Email 3:
							</td>
							<td width="10px">&nbsp;</td>
							<td>
								<input type="text" ng-model="deviceEmail.email_3" />
							</td>
						</tr>
						<tr><td width="10px">&nbsp;</td></tr>
						<tr>
							<td width="80px">
								Nome 4:
							</td>
							<td width="10px">&nbsp;</td>
							<td>
								<input type="text" ng-model="deviceEmail.name_4" />
							</td>
						</tr>
						<tr>
							<td width="80px">
								Telefono 4:
							</td>
							<td width="10px">&nbsp;</td>
							<td>
								<input type="text" ng-model="deviceEmail.phone_4" />
							</td>
						</tr>
						<tr>
							<td width="80px">
								Email 4:
							</td>
							<td width="10px">&nbsp;</td>
							<td>
								<input type="text" ng-model="deviceEmail.email_4" />
							</td>
						</tr>
						<tr><td width="10px">&nbsp;</td></tr>
						<tr>
							<td width="80px">
								Nome 5:
							</td>
							<td width="10px">&nbsp;</td>
							<td>
								<input type="text" ng-model="deviceEmail.name_5" />
							</td>
						</tr>
						<tr>
							<td width="80px">
								Telefono 5:
							</td>
							<td width="10px">&nbsp;</td>
							<td>
								<input type="text" ng-model="deviceEmail.phone_5" />
							</td>
						</tr>
						<tr>
							<td width="80px">
								Email 5:
							</td>
							<td width="10px">&nbsp;</td>
							<td>
								<input type="text" ng-model="deviceEmail.email_5" />
							</td>
						</tr>
					</table>
					<br />
					<button ng-click="updateDeviceEmail()">Salva</button>
				</form>
    		</tab>
        	
        </tabset>
        
    <!-- </div> -->
  <!-- </div> -->
</div>


}