@(implicit request: RequestHeader)
@import securesocial.core.SecureSocial

@main("Open al*arm Halt") {

<!--<div>-->
<!--	@if(SecureSocial.currentUser.isDefined){-->
<!--	    Utente: @SecureSocial.currentUser.get.identityId.userId-->
<!--	    <a class="btn" href="@securesocial.controllers.routes.LoginPage.logout()">Logout</a>-->
<!--	  }else{-->
<!--	    <a class="btn" href="@securesocial.controllers.routes.LoginPage.login()">Login</a>-->
<!--	  }-->
<!--</div>-->

<div class="page-header">
    <h2>Halt</h2>
</div>


<div class="container">
<!--<div class="container" ng-controller="SmtpController">-->
<!-- <div class="jumbotron" ng-controller="AlarmController"> -->
  <!-- <div class="container"> -->
    <!-- <div class="col-sm-12"> -->
        
    <h3>Shutting down...</h3>
    <br/>
    <h4>after 1 minute you can safely unplug the power supply</h4>

    <!-- </div> -->
  <!-- </div> -->
</div>


}