@(implicit request: RequestHeader)
@import securesocial.core.SecureSocial

@main("Open al*arm") {

<div>
	@if(SecureSocial.currentUser.isDefined) {
		Utente: @SecureSocial.currentUser.get.identityId.userId
		<a class="btn" href="@securesocial.controllers.routes.LoginPage.logout()">Logout</a>
	} else {
		<a class="btn" href="@securesocial.controllers.routes.LoginPage.login()">Login</a>
	}
	@if(SecureSocial.currentUser.isDefined && SecureSocial.currentUser.get.identityId.userId.equals("admin")) {
	 	| <a class="btn" href="@controllers.routes.Application.smtp()">SMTP Server</a>
		&nbsp;
		| <a class="btn" href="@controllers.routes.Application.reboot">Reboot</a>
		&nbsp;
		| <a class="btn" href="@controllers.routes.Application.halt">Halt</a>
	}
</div>

<div>
	@if(SecureSocial.currentUser.isDefined && SecureSocial.currentUser.get.identityId.userId.equals("admin")) {
	    <a class="btn" href="@controllers.routes.Application.conf()">Configurazioni</a>
	}
</div>

<div class="page-header">
    <h2>Allarmi</h2>
</div>


<div ng-controller="AlarmController">
	<!-- <div class="jumbotron" ng-controller="AlarmController"> -->
	<!-- <div class="container"> -->
	<!-- <div class="col-sm-12"> -->
	<table width="100%">
		<tr width="100%">
			<td width="45%" valign="top">
				<table style="font-size: 20px" align="left">
					<tr style="font-weight: bold;">
						<td>Nr.</td>
						<td width="20px">&nbsp;</td>
						<td>Descrizione</td>
						<td width="20px">&nbsp;</td>
						<td>Stato</td>
					</tr>
					<tr ng-repeat="alarm in alarmData1" style="color: {{alarm.status}}">
						<td>{{alarm.id}}</td>
						<td width="20px">&nbsp;</td>
						<td>{{alarm.description}}</td>
						<td width="20px">&nbsp;</td>
						<td><img src="/assets/images/{{alarm.image}}"></td>
					</tr>
				</table>
			</td>
			<td width="10%">&nbsp;</td>
			<td width="45%" valign="top">
				<table style="font-size: 20px" align="right">
					<tr style="font-weight: bold;">
						<td>Nr.</td>
						<td width="20px">&nbsp;</td>
						<td>Descrizione</td>
						<td width="20px">&nbsp;</td>
						<td>Stato</td>
					</tr>
					<tr ng-repeat="alarm in alarmData2" style="color: {{alarm.status}}">
						<td>{{alarm.id}}</td>
						<td width="20px">&nbsp;</td>
						<td>{{alarm.description}}</td>
						<td width="20px">&nbsp;</td>
						<td><img src="/assets/images/{{alarm.image}}"></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

	<hr/>

	<!--		{{progress}}-->

	<!--		<br/>-->
	<!--        sound: {{alarmSound}}-->

	<div>
		<img src="/assets/images/{{progress}}">
	</div>

	<br/>

	<div>
		@if(SecureSocial.currentUser.isDefined && SecureSocial.currentUser.get.identityId.userId.equals("admin")) {
			<button class="btn btn-primary col-sm-2" ng-click="muteAlarms()">Mute</button>
			<button class="btn btn-primary col-sm-2 col-sm-offset-1" ng-click="resetAlarms()">Reset</button>
		} else {
			<button class="btn btn-primary col-sm-2" ng-click="muteAlarms()">Mute</button>
		}
	</div>

<!--	<div>-->
<!--		<img src="/assets/images/{{progress}}" hspace="50">-->
<!--	</div>-->

	<!-- </div> -->
	<!-- </div> -->
</div>

<!-- <audio autoplay loop>
    <source src="/assets/sounds/alien-siren.mp3">
</audio> -->

<!-- <script type="text/javascript" language="javascript" >

var audioElement = document.createElement('audio');
audioElement.setAttribute('src', '/assets/sounds/alien-siren.mp3');

function PlayAudio()
{

	audioElement.load;
	audioElement.play();

}

function PauseAudio()
{
	audioElement.pause();
}

</script> -->


<!-- <div class="clearfix">
    <a class="btn" href="@securesocial.controllers.routes.LoginPage.login()">Login</a>
</div>

<div class="clearfix">
    <a class="btn" href="@securesocial.controllers.routes.LoginPage.logout()">Logout</a>
</div> -->

}