@(implicit request: RequestHeader)
@import securesocial.core.SecureSocial

@main("Open al*arm Reboot") {

<!--<div>-->
<!--	@if(SecureSocial.currentUser.isDefined){-->
<!--	    Utente: @SecureSocial.currentUser.get.identityId.userId-->
<!--	    <a class="btn" href="@securesocial.controllers.routes.LoginPage.logout()">Logout</a>-->
<!--	  }else{-->
<!--	    <a class="btn" href="@securesocial.controllers.routes.LoginPage.login()">Login</a>-->
<!--	  }-->
<!--</div>-->

<div class="page-header">
    <h2>Reboot</h2>
</div>


<div class="container">
<!--<div class="container" ng-controller="SmtpController">-->
<!-- <div class="jumbotron" ng-controller="AlarmController"> -->
  <!-- <div class="container"> -->
    <!-- <div class="col-sm-12"> -->
        
    <h3>Restarting...</h3>
    <br/>
    <h4>it will take 5-10 minutes (depending on the network speed)</h4>
    <br/>
    <h4>Go to the main page and wait</h4>

    <!-- </div> -->
  <!-- </div> -->
</div>


}