@(implicit request: RequestHeader)
@import securesocial.core.SecureSocial

@main("Open al*arm Setup") {

<!--<div>-->
<!--	@if(SecureSocial.currentUser.isDefined){-->
<!--	    Utente: @SecureSocial.currentUser.get.identityId.userId-->
<!--	    <a class="btn" href="@securesocial.controllers.routes.LoginPage.logout()">Logout</a>-->
<!--	  }else{-->
<!--	    <a class="btn" href="@securesocial.controllers.routes.LoginPage.login()">Login</a>-->
<!--	  }-->
<!--</div>-->

<div class="page-header">
    <h2>Setup/Reset email of admin</h2>
</div>


<div class="container">
<!--<div class="container" ng-controller="SmtpController">-->
<!-- <div class="jumbotron" ng-controller="AlarmController"> -->
  <!-- <div class="container"> -->
    <!-- <div class="col-sm-12"> -->
        
        		<h3>OK - email of admin saved !</h3>

    <!-- </div> -->
  <!-- </div> -->
</div>


}