@(implicit request: RequestHeader)
@import securesocial.core.SecureSocial

@main("Open al*arm SMTP Conf") {

<div>
	@if(SecureSocial.currentUser.isDefined){
	    Utente: @SecureSocial.currentUser.get.identityId.userId
	    <a class="btn" href="@securesocial.controllers.routes.LoginPage.logout()">Logout</a>
	  }else{
	    <a class="btn" href="@securesocial.controllers.routes.LoginPage.login()">Login</a>
	  }
</div>

<div class="page-header">
    <h2>SMTP Server</h2>
</div>


<div class="container" ng-controller="SmtpController">
<!-- <div class="jumbotron" ng-controller="AlarmController"> -->
  <!-- <div class="container"> -->
    <!-- <div class="col-sm-12"> -->
        
        		<form novalidate class="simple-form">
       				<br />	
	        		File di configurazione:
					<br /> <br />
					<table>
						<tr>
							<td align="top">
								<textarea cols="35" rows="20" ng-model="smtpConf.data"></textarea>
							</td>
							<td size="20px">&nbsp;</td>
							<td align="top">
								<textarea cols="35" rows="20">
	Example:

	smtp {

		# this is a comment

		host=smtps.aruba.it
		port=465
		ssl=true
		#tls=false
		user="info@@pippo.com"
		password=xxxxxx
		from="info@@pippo.com"

	}
								</textarea>
							</td>
						</tr>
					</table>
	        		<br />
	        		<button ng-click="updateSmtpConf()">Salva</button>
        		</form>

				<br/>
				In order to apply the new configuration, you need to <a href="@controllers.routes.Application.reboot">Reboot</a>

    <!-- </div> -->
  <!-- </div> -->
</div>


}