@main("MAC Home - Unprotected Page") {

<div class="page-header">
    <h2><Welcome</h2>
</div>

<div class="jumbotron" ng-controller="TimerController">
  <div class="container">
    <div class="col-sm-12">
      <h1>
        {{time | timer}}
      </h1>
    </div>

    <button class="btn btn-primary col-sm-4 col-sm-offset-1" ng-click="start()">Start</button>
    <button class="btn btn-default col-sm-4 col-sm-offset-1" ng-click="stop()">Stop</button>
  </div>
</div>


}